
[VERSION]

major = 1 ; 
minor = 0 ; 

; ===================== FLTSIM =====================

[GENERAL]

atc_type = ANTONOV ; 
atc_model = AN225 ; 
category = "airplane" ; 
performance = Engines: 6-Lotarev D-18T turbofans, 51,654 lbf ea\nLength: 275.6 ft\nHeight: 59.3 ft\nWingspan: 290.167 ft\nWing Area: 9,743.8 ft²\nEmpty Weight: 385,805 lb\nMTOW: 1,410,944 lb\nRamp Weight: 1,413,149 lb\nMLW: 1,241,467 lb\nFuel Capacity: 116,811 US gal\nService Ceiling: 42,651 ft/13,000 m\nAbsolute Ceiling (Ferry): 49,213 ft/15,000 m\nNormal Flight Levels:\n111 ton Payload: FL340W-FL410E\n252 ton Payload: FL190E/200W\nCruise Speeds:\n240-260 KIAS (Mach .60 - .85)\n\nRange:\nFull Tanks, Normal Payload:\n7,600 nm @ FL410E, Mach .85\nMax Payload (Zero Ctr, Aux, Tip tanks):\n2,000 nm @ FL190E, 250 KIAS\nFerry:\n7,800 nm @ FL490E, Mach .88\n\nTotal Crew: 19\nSupplies: 950 lb\n
editable = 0 ; 
wip_indicator = 2 ; 
icao_type_designator = "AN225" ; 
icao_manufacturer = "Antonov" ; 
icao_model = "AN225" ; 
icao_engine_type = "Jet" ; 
icao_engine_count = 6 ; 
icao_wtc = "H" ; 

[PILOT]

pilot = "Pilot_Female_Uniform" ; 
copilot = "Pilot_Male_Uniform" ; 
instructor = "Pilot_Male_Casual" ; 
pilot_default_animation = "Idle1_PoseAirliner" ; 
copilot_default_animation = "Idle2_PoseAirliner" ; 
pilot_attach_node = "PILOT_0" ; 
copilot_attach_node = "PILOT_1" ; 

[SERVICES]

fueltruck = 1 ; 
baggage_loader = 1 ; 
catering_truck = 1 ; 
boarding_ramp = 1 ; 
ground_power_unit = 1 ; 
pushback = 1 ; 
small_pushback = 0 ; 
marshaller = 1 ; 
jetway = 1 ; 

[EFFECTS]

wake = fx_wake 
water = fx_spray 
dirt = FX_ASOBO_TOUCHDIRT_BIG ; 
concrete = FX_ASOBO_TOUCHCONCRETE_BIG ; 
touchdown = FX_ASOBO_TouchDown_Big, 1 ; 
windshield_rain_effect_available = 1 ; 
effect.0 = L1_EngineFX#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG ; 
effect.1 = L2_EngineFX#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG ; 
effect.1 = L3_EngineFX#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG ; 
effect.2 = R1_EngineFX#(A:GENERAL ENG COMBUSTION:3, boolean)#FX_ASOBO_HEAT_BIG ; 
effect.3 = R2_EngineFX#(A:GENERAL ENG COMBUSTION:4, boolean)#FX_ASOBO_HEAT_BIG ;
effect.3 = R3_EngineFX#(A:GENERAL ENG COMBUSTION:4, boolean)#FX_ASOBO_HEAT_BIG ; 

[LOADING]

; ===================== FLTSIM =====================

[FLTSIM.0]

title = "Antonov AN225 UKR" ; Variation name
sim = an225 ;
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "UKR" ; texture folder
kb_checklists = "Boeing747-400_check" ; Procedures/Checklist sibling file name
kb_reference = "Boeing747-400_ref" ; Reference information sibling file name
description = "The AN225 is one of the biggest airplanes that has ever been nuilt and now it has been brought to MSFS 2020 with the help of an FSX converter and days of work" ; 
wip_indicator = 1 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "Antonov" ; e.g. Boeing, Cessna
ui_type = "AN225" ; e.g. 747-400, 172
ui_variation = "AN225" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Anakonda" ; e.g. Asobo Studio, Microsoft, Wings Creates, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 43000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 8315 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 7 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 3200 ; average fuel consumption per hour (lbs/hr) - Legion: fuel density is ~6.7lbs per US gallon
atc_id = "UR-82060" ; tail number
atc_id_enable = 0 ; enable tail number
atc_airline = "Antonov" ; airline name
atc_flight_number = "225" ; flight number
atc_heavy = 1 ; heavy?
atc_parking_types = "GATE,RAMP,CARGO" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "00000000" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isairtraffic = 1 ; Is the plane usable for air traffic
isuserselectable = 1 ; Is the plane selectable by the user
cruise_speed = 493 ; 

[FLTSIM.1]

title = "Antonov AN225 FedEx" ; Variation name
sim = an225 ;
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "FX" ; texture folder
kb_checklists = "Boeing747-400_check" ; Procedures/Checklist sibling file name
kb_reference = "Boeing747-400_ref" ; Reference information sibling file name
description = "The AN225 is one of the biggest airplanes that has ever been nuilt and now it has been brought to MSFS 2020 with the help of an FSX converter and days of work" ; 
wip_indicator = 1 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "Antonov" ; e.g. Boeing, Cessna
ui_type = "AN225" ; e.g. 747-400, 172
ui_variation = "FedEx" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Anakonda" ; e.g. Asobo Studio, Microsoft, Wings Creates, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 43000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 8315 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 7 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 3200 ; average fuel consumption per hour (lbs/hr) - Legion: fuel density is ~6.7lbs per US gallon
atc_id = "UR-82060" ; tail number
atc_id_enable = 0 ; enable tail number
atc_airline = "Antonov" ; airline name
atc_flight_number = "225" ; flight number
atc_heavy = 1 ; heavy?
atc_parking_types = "GATE,RAMP,CARGO" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "00000000" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isairtraffic = 1 ; Is the plane usable for air traffic
isuserselectable = 1 ; Is the plane selectable by the user
cruise_speed = 493 ; 

[FLTSIM.2]

title = "Antonov AN225 Lufthansa" ; Variation name
sim = an225 ;
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "LH" ; texture folder
kb_checklists = "Boeing747-400_check" ; Procedures/Checklist sibling file name
kb_reference = "Boeing747-400_ref" ; Reference information sibling file name
description = "The AN225 is one of the biggest airplanes that has ever been nuilt and now it has been brought to MSFS 2020 with the help of an FSX converter and days of work" ; 
wip_indicator = 1 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "Antonov" ; e.g. Boeing, Cessna
ui_type = "AN225" ; e.g. 747-400, 172
ui_variation = "Lufthansa" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Anakonda" ; e.g. Asobo Studio, Microsoft, Wings Creates, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 43000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 8315 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 7 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 3200 ; average fuel consumption per hour (lbs/hr) - Legion: fuel density is ~6.7lbs per US gallon
atc_id = "UR-82060" ; tail number
atc_id_enable = 0 ; enable tail number
atc_airline = "Antonov" ; airline name
atc_flight_number = "225" ; flight number
atc_heavy = 1 ; heavy?
atc_parking_types = "GATE,RAMP,CARGO" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "00000000" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isairtraffic = 1 ; Is the plane usable for air traffic
isuserselectable = 1 ; Is the plane selectable by the user
cruise_speed = 493 ; 

[FLTSIM.3]

title = "Antonov AN225 THY" ; Variation name
sim = an225 ;
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "THY" ; texture folder
kb_checklists = "Boeing747-400_check" ; Procedures/Checklist sibling file name
kb_reference = "Boeing747-400_ref" ; Reference information sibling file name
description = "The AN225 is one of the biggest airplanes that has ever been nuilt and now it has been brought to MSFS 2020 with the help of an FSX converter and days of work" ; 
wip_indicator = 1 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "Antonov" ; e.g. Boeing, Cessna
ui_type = "AN225" ; e.g. 747-400, 172
ui_variation = "Turkish Cargo" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Anakonda" ; e.g. Asobo Studio, Microsoft, Wings Creates, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 43000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 8315 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 7 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 3200 ; average fuel consumption per hour (lbs/hr) - Legion: fuel density is ~6.7lbs per US gallon
atc_id = "UR-82060" ; tail number
atc_id_enable = 0 ; enable tail number
atc_airline = "Antonov" ; airline name
atc_flight_number = "225" ; flight number
atc_heavy = 1 ; heavy?
atc_parking_types = "GATE,RAMP,CARGO" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "00000000" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isairtraffic = 1 ; Is the plane usable for air traffic
isuserselectable = 1 ; Is the plane selectable by the user
cruise_speed = 493 ; 

[FLTSIM.4]

title = "Antonov AN225 UPS" ; Variation name
sim = an225 ;
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "UPS" ; texture folder
kb_checklists = "Boeing747-400_check" ; Procedures/Checklist sibling file name
kb_reference = "Boeing747-400_ref" ; Reference information sibling file name
description = "The AN225 is one of the biggest airplanes that has ever been nuilt and now it has been brought to MSFS 2020 with the help of an FSX converter and days of work" ; 
wip_indicator = 1 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "Antonov" ; e.g. Boeing, Cessna
ui_type = "AN225" ; e.g. 747-400, 172
ui_variation = "UPS" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Anakonda" ; e.g. Asobo Studio, Microsoft, Wings Creates, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 43000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 8315 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 7 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 3200 ; average fuel consumption per hour (lbs/hr) - Legion: fuel density is ~6.7lbs per US gallon
atc_id = "UR-82060" ; tail number
atc_id_enable = 0 ; enable tail number
atc_airline = "Antonov" ; airline name
atc_flight_number = "225" ; flight number
atc_heavy = 1 ; heavy?
atc_parking_types = "GATE,RAMP,CARGO" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "00000000" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isairtraffic = 1 ; Is the plane usable for air traffic
isuserselectable = 1 ; Is the plane selectable by the user
cruise_speed = 493 ; 



[TIMELINE.FLIGHT_RUNWAY]

flaps = 33 ; 

[EXITS]
number_of_exits = 3 ; 
exit_rate.0 = 0.19 ; Percent per second
exit_rate.1 = 0.1 ; Percent per second



; ===================== FLTSIM =====================
